[submodule "themes/cupper-hugo-theme"]
	path = themes/cupper-hugo-theme
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "themes/kaslaanka"]
	path = themes/kaslaanka
	url = https://github.com/M1cR0xf7/kaslaanka.git
